/* Main text color  #555555 */
/* Secondary text color #9DA4BD */
/* Main title color and background #FFFFFF */
/* Secondary title and buttons, logo, upper title #303030 */
/* Accent color #FF6C00 */
/* Secondary background #191C26 */
/* Prices background #111319 */
/* Hero background overlay rgba(25, 28, 38, 0.2); */

$clr-text-primary: #555555;
$clr-text-secondary: #9da4bd;
$clr-bg-primary: #ffffff;
$clr-bg-secondary: #191c26;
$clr-title-secondary: #303030;
$clr-accnt: #ff6c00;
$clr-bg-prices: #111319;
$clr-overlay-hero: rgba(25, 28, 38, 0.2);
$ff-primary: "Open Sans";
$ff-secondary: "Raleway", sans-serif;
